<div class="footer">
  <div class="footer-div">
    <div class="footer-title">
      Company
    </div>
    <div class="footer-desc">
      Tata Consultancy Services
      <br> Kochi Center, Kakkanadu,
      <br> Kochi, Kerala, India
    </div>
  </div>
  <div class="footer-div">
      <div class="footer-title">
        Contact
      </div>
      <div class="footer-desc">
        sreehariv7990@gmail.com
        <br> Vadakkecharupurathu, Panayi P O, Nooranad
        <br> Alappuzha, Kerala, 690504
        <br>+91 9539982981, 0479 2388263
      </div>
    </div>
</div>