<div class="store-component">
  <div class="card-container">
    <div class="card" style="width: 18rem;">
      <a [routerLink]="['pk']">
        <img class="bike-img card-img-top" src="/src/assets/Images/bike3.jpg" alt="RC Special Force">
      </a>
        <span class="tag">-20%</span>
        <div class="card-body">
          <h5 class="card-title design-title">RC Special Force</h5>
          <p class="card-text design-desc">Bike/Design description goes here. </p>
          <s>
            <span class="old-price amount">Rs 5000</span>
          </s>
          <span class="new-price amount">Rs 3999</span>
          <a href="#" class="btn action-button">
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
          </a>
        </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card" style="width: 18rem;">
      <a [routerLink]="['pk']">
        <img class="bike-img card-img-top" src="/src/assets/Images/bike2.jpg" alt="RC Special Force">
      </a>
        <span class="tag">-20%</span>
        <div class="card-body">
          <h5 class="card-title design-title">Repsol Redefined</h5>
          <p class="card-text design-desc">Bike/Design description goes here. </p>
          <s>
            <span class="old-price amount">Rs 5000</span>
          </s>
          <span class="new-price amount">Rs 3999</span>
          <a href="#" class="btn action-button">
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
          </a>
        </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card" style="width: 18rem;">
      <a [routerLink]="['pk']">
        <img class="bike-img card-img-top" src="/src/assets/Images/bike5.jpg" alt="Dominar Venum">
      </a>
        <span class="tag">-20%</span>
        <div class="card-overlay">
          <div class="overlay-buttons">
            <span class="btn action-button">
              <i class="fa fa-heart" aria-hidden="true"></i>
            </span>
            <span class="btn action-button">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <span class="btn action-button">
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
            </span>
          </div>
          <div class="overlay-body"></div>
        </div>
        <div class="card-body">
          <h5 class="card-title design-title">Venum Dom</h5>
          <p class="card-text design-desc">Bike/Design description goes here. </p>
          <s>
            <span class="old-price amount">Rs 5000</span>
          </s>
          <span class="new-price amount">Rs 3999</span>
          <a href="#" class="btn action-button">
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
          </a>
        </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card" style="width: 18rem;">
      <a [routerLink]="['pks']">
        <img class="bike-img card-img-top" src="/src/assets/Images/bike1.jpg" alt="RC Special Force">
      </a>
      <span class="tag">-20%</span>
      <div class="card-body">
        <h5 class="card-title design-title">Venom</h5>
        <p class="card-text design-desc">Bike/Design description goes here. </p>
        <s>
          <span class="old-price amount">Rs 5000</span>
        </s>
        <span class="new-price amount">Rs 3999</span>
        <a href="#" class="btn action-button">
          <i class="fa fa-heartbeat" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card" style="width: 18rem;">
      <a [routerLink]="['pk']">
        <img class="bike-img card-img-top" src="/src/assets/Images/bike6.jpg" alt="Red Bull Bleed">
        </a>
        <span class="tag">-20%</span>
        <div class="card-body">
          <h5 class="card-title design-title">Red Bull Bleed</h5>
          <p class="card-text design-desc">Bike/Design description goes here. </p>
          <s>
            <span class="old-price amount">Rs 5000</span>
          </s>
          <span class="new-price amount">Rs 3999</span>
          <a href="#" class="btn action-button">
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
          </a>
        </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card" style="width: 18rem;">
      <a [routerLink]="['pk']">
        <img class="bike-img card-img-top" src="/src/assets/Images/bike7.jpg" alt="RC Special Force">
      </a>
        <span class="tag">-20%</span>
        <div class="card-body">
          <h5 class="card-title design-title">Spider</h5>
          <p class="card-text design-desc">Bike/Design description goes here. </p>
          <s>
            <span class="old-price amount">Rs 5000</span>
          </s>
          <span class="new-price amount">Rs 3999</span>
          <a href="#" class="btn action-button">
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
          </a>
        </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card" style="width: 18rem;">
      <a [routerLink]="['pk']">
        <img class="bike-img card-img-top" src="/src/assets/Images/bike8.jpg" alt="RC Special Force">
      </a>
        <span class="tag">-20%</span>
        <div class="card-body">
          <h5 class="card-title design-title">RC Stark</h5>
          <p class="card-text design-desc">Bike/Design description goes here. </p>
          <s>
            <span class="old-price amount">Rs 5000</span>
          </s>
          <span class="new-price amount">Rs 3999</span>
          <a href="#" class="btn action-button">
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
          </a>
        </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card" style="width: 18rem;">
      <a [routerLink]="['pk']">
        <img class="bike-img card-img-top" src="/src/assets/Images/bike4.jpg" alt="RC Special Force">
      </a>
        <span class="tag">-20%</span>
        <div class="card-body">
          <h5 class="card-title design-title">Marine</h5>
          <p class="card-text design-desc">Bike/Design description goes here. </p>
          <s>
            <span class="old-price amount">Rs 5000</span>
          </s>
          <span class="new-price amount">Rs 3999</span>
          <a href="#" class="btn action-button">
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
          </a>
        </div>
    </div>
  </div>

</div>