<div class="header">
    <div class="name-tag-container">
        <div class="name-tag">
            <div class="name">
                Sreehari V
            </div>
            <div class="role">
                UX Designer/ UI Developer
            </div>
        </div>
    </div>
    <div class="social">
        <a href="https://twitter.com/SreehariV18" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/Sreehari.Kunjunni.Kurup" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/savage_7990/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/user/powerdriftofficial" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/sreehari-v-1249b1103"  target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
</div>
</div>
    <!-- <button class="menu-open" (click)="openMenu()">
        <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
    </button>
    <div class="menu">
        <div class="menu-container" [ngStyle]="{'width':showMenu === true  ? '300px' : '0px' }">
            <ul>
                <li><button class="li-btn">About me <i class="fa fa-user-circle-o" aria-hidden="true"></i></button></li>
                <li><button class="li-btn">Works <i class="fa fa-paint-brush" aria-hidden="true"></i></button></li>
                <li><button class="li-btn">Logos <i class="fa fa-paw" aria-hidden="true"></i></button></li>
                <li><button class="li-btn">Bike Decales <i class="fa fa-motorcycle" aria-hidden="true"></i></button></li>
                <li><button class="li-btn">Posters <i class="fa fa-sticky-note" aria-hidden="true"></i></button></li>
            </ul>
        </div>
    </div> -->