body {
    /* background: url('src/assets/images/bg2.jpg'); */
    /* background-color: #282735; */
    /* background-size: contain; */
    background-size: cover;
    background-repeat: no-repeat;
}
/* .header {
    height: 102px;
    background: white;
    min-width: 321px !important
}
::ng-deep.ui-dialog {
    text-align:center !important;
}
button:focus {
    outline:0 !important;
}
@media all and (max-width: 700px) and (min-width:450px) {
    .header{
        height: 62px;
    }
} */