<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
      <li data-target="#demo" class="indicator active" data-slide-to="0"></li>
      <li data-target="#demo" class="indicator" data-slide-to="1"></li>
      <li data-target="#demo" class="indicator" data-slide-to="2"></li>
      <li data-target="#demo" class="indicator" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="/src/assets/Images/bike1.jpg" alt="Venom" width="1100" height="500">
      </div>
      <div class="carousel-item">
          <img src="/src/assets/Images/bike2.jpg" alt="Repsol Unleashed" width="1100" height="500">
      </div>
      <div class="carousel-item">
          <img src="/src/assets/Images/bike3.jpg" alt="Special Force RC" width="1100" height="500">
      </div>
      <div class="carousel-item">
          <img src="/src/assets/Images/bike4.jpg" alt="Spider" width="1100" height="500">
      </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev prev-btn" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next next-btn" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
  </a>
</div>